@model WebApplication2.Models.ViewModel
@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<div id="calendar" class="container">

    <div id="calendar-header" style="text-align:center">
        <div id="calendar-header-title">
            <h4>@Model.dayData.MonthName</h4>
        </div>

        @*Kalenderns knappar*@
        <div id="calendar-header-controller" class="row justify-content-between">


            <a asp-action="Index" asp-route-iDate="@{ @Model.dayData.FullDate.AddMonths(-1);}"> <img class="my-1 vw-90" src="~/arrow-left-square.svg" /></a>
            <a asp-action="Index" asp-route-iDate="@{ @Model.dayData.FullDate.AddMonths(1);}"> <img class="my-1 vw-90" src="~/arrow-right-square.svg" /></a>

            @*<button class="btn btn-outline-dark">prev</button>
                <button class="btn btn-outline-dark">next</button>*@
        </div>
    </div>

    @*Veckodagarnas namn*@
    <div id="calendar-table-header" class="row">
        <div class="col calendar-header-cell">
            <h5>Måndag</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Tisdag</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Onsdag</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Torsdag</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Fredag</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Lördag</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Söndag</h5>
        </div>
    </div>
    <div class="row">

        @*Skriver ut toma celler så att månadens rösta dag hamnar under rätt kolumn*@

        @for (int i = 0; i < Model.dayData.FirstDayOfWeek; i++)
        {
            <div class="col calendar-cell row-cols-7"></div>
        }


        @*Skriver ut lika många celler i kalendern som det finns dagar för den aktiva månaden*@
        @for (int i = 0; i < Model.dayData.Days; i++)
        {
            //Ökar siffran med ett så att datumet blir rätt för varje cell
            ViewBag.count++;

            if (ViewBag.count == Model.dayData.TodaysDate)
            {

            } else
            {

            }

            <div class="col calendar-cell row-cols-7" data-toggle="modal" data-target="#id-@ViewBag.count">

                <div >
                    @*Skriver ut rätt datum för varje cell i kalendern*@
                    @ViewBag.count
                    @{ Model.dayData.ClickedFullDate = new DateTime(Model.dayData.FullDate.Year, Model.dayData.FullDate.Month, @ViewBag.count);}
                </div>
                

                
                <div class="row row-cols-1">

                    @*Skriver ut rätt arbetspass för rätt datum*@
                    @foreach (var item in Model.arbetspassList)
                    {
                        if (item.Date.Day == ViewBag.count)
                        {
                            if (item.Shift == 1)
                            {
                                <div class="day-shift col order-first">
                                    <div>
                                        Dagsskift
                                    </div>
                                </div>
                            }
                            else if (item.Shift == 2)
                            {
                                <div class="evening-shift col align-self-center">
                                    <div>
                                        Kvällsskift
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="night-shift col order-last">
                                    <div>
                                        Nattskift
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>

            @*Informations rutan som dyker upp när man klickar på en cell*@
            <div class="modal fade" id="id-@ViewBag.count" data-backdrop="static" data-keyboard="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Work-Shift</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            @Html.EditorFor(m => m.arbetspass.Date)
                            @*<input id="dateSelect" type="date" class="form-control mb-2" asp- asp-for="arbetspass.Date" value="@Model.dayData.ClickedFullDate.ToString("yyyy-MM-dd")" />*@
                            <select id="shiftSelect" class="custom-select mb-2" asp-for="arbetspass.Shift" asp-items="ViewBag.shiftList"></select>
                            <select id="taskSelect" class="custom-select" asp-for="arbetspass.Shift" asp-items="ViewBag.taskList"></select>
                        </div>
                        <div class="modal-body">
                            <hr />
                            <div class="card">
                                <table class="table-striped">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Shift</th>
                                            <th>Task</th>
                                        </tr>
                                    </thead>
                                    @*Skriver ut alla arbetspass som finns på den valda dagen i en tabell*@
                                    <tbody class="table table-striped">
                                        @foreach (var item in Model.arbetspassList)
                                        {
                                            if (item.Date.Day == ViewBag.count)
                                            {
                                                <tr>
                                                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                                                    <td>@item.Shift</td>
                                                    <td>@item.Task</td>
                                                    <td><a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id"><img src="~/trash-fill.svg" /></a></td>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            @*<button id="addBtn" class="btn btn-dark">Add</button>*@
                            <a asp-action="Add" asp-controller="Home" asp-route-arbetspass="arbetspass" class="btn btn-primary">Add</a>
                            @*<button asp-action="Add" asp-controller="Home" asp-route-arbetspass="@Model.arbetspass" type="button" class="btn btn-primary">Add</button>*@
                        </div>
                    </div>
                </div>
            </div>



        }
    </div>
</div>

