@model WebApplication2.Models.ViewModel
@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<div id="calendar" class="container">

    <div id="calendar-header" style="text-align:center">
        <div id="calendar-header-title">
            <h4>@Model.dayData.MonthName</h4>
        </div>

        @*Kalenderns knappar*@
        <div id="calendar-header-controller" class="row justify-content-between">
            <a class="btn btn-outline-dark" asp-action="Index" asp-route-iDate="@{ @Model.dayData.FullDate.AddMonths(-1);}">Prev</a>
            <a class="btn btn-outline-dark" asp-action="Index" asp-route-iDate="@{ @Model.dayData.FullDate.AddMonths(1);}">Next</a>

            @*<button class="btn btn-outline-dark">prev</button>
                <button class="btn btn-outline-dark">next</button>*@
        </div>
    </div>

    @*Veckodagarnas namn*@
    <div id="calendar-table-header" class="row">
        <div class="col calendar-header-cell">
            <h5>Monday</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Tuesday</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Wenesday</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Thursday</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Friday</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Saturday</h5>
        </div>
        <div class="col calendar-header-cell">
            <h5>Sunday</h5>
        </div>
    </div>
    <div class="row">

        @*Skriver ut toma celler så att månadens rösta dag hamnar under rätt kolumn*@

        @for (int i = 0; i < Model.dayData.FirstDayOfWeek; i++)
        {
            <div class="col calendar-cell row-cols-7"></div>
        }


        @*Skriver ut lika många celler i kalendern som det finns dagar för den aktiva månaden*@
        @for (int i = 0; i < Model.dayData.Days; i++)
        {
            //Ökar siffran med ett så att datumet blir rätt för varje cell
            ViewBag.count++;

            <div class="col calendar-cell row-cols-7" data-toggle="modal" data-target="#id-@ViewBag.count">

                @*Skriver ut rätt datum för varje cell i kalendern*@
                @ViewBag.count
                @{ Model.dayData.ClickedFullDate = new DateTime(Model.dayData.FullDate.Year, Model.dayData.FullDate.Month, @ViewBag.count);}

                <div class="row row-cols-1">

                    @*Skriver ut rätt arbetspass för rätt datum*@
                    @foreach (var item in Model.arbetspassList)
                    {
                        if (item.Date.Day == ViewBag.count)
                        {
                            if (item.Shift == 1)
                            {
                                <div class="day-shift col order-first">Day-shift</div>
                            }
                            else if (item.Shift == 2)
                            {
                                <div class="evening-shift col align-self-center">Evening-shift</div>
                            }
                            else
                            {
                                <div class="night-shift col order-last">Night-shift</div>
                            }
                        }
                    }
                </div>

                @*Informations rutan som dyker upp när man klickar på en cell*@
                <div class="modal fade" id="id-@ViewBag.count" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Work-Dhift</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <input class="form-control mb-2" asp-for="dayData.ClickedFullDate" disabled />
                                <select class="custom-select mb-2" asp-for="arbetspass.Shift" asp-items="ViewBag.shiftList"></select>
                                <select class="custom-select" asp-for="arbetspass.Shift" asp-items="ViewBag.taskList"></select>
                            </div>
                            <div class="modal-body">
                                <hr />
                                <h5>Active Work-Shifts</h5>
                                <div class="card">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Shift</th>
                                                <th>Task</th>
                                            </tr>
                                        </thead>
                                        @*Skriver ut alla arbetspass som finns på den valda dagen i en tabell*@
                                        <tbody class="table table-striped">
                                            @foreach (var item in Model.arbetspassList)
                                            {
                                                if (item.Date.Day == ViewBag.count)
                                                {
                                                    <tr>
                                                        <td>@item.Date.ToString("yyyy-mm-dd")</td>
                                                        <td>@item.Shift</td>
                                                        <td>@item.Task</td>
                                                        <td>Delete</td>
                                                    </tr>
                                                }

                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>



        }
    </div>
</div>

